
#root{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: green;
}
.container-fluid a{
    font-size: 2em;
    color: green;
    font-weight: 800;
}
.songcard{
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.songcard:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

footer{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 30vh;
    /* width: 100%; */
}
